@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Montserrat", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: all 5000s ease-in-out 0s;
}

/* Override the default selection styles on the suggestion text */
input::selection,
input::-moz-selection {
  background-color: transparent;
  color: white;
}

.drop-shadow {
  filter: drop-shadow(0 2mm 2mm rgba(255, 0, 0, 0.221));
}
